/* Parent container ko full screen banaye */
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center; /* vertical center */
  background-color: #f0f0f0; /* optional background */
}

/* Tumhara Form box */
.Form {
  width: 1000px;
  height: 300px;
  background-color: #47494a;
  /* display: flex; inner content ko bhi center karne ke liye */
  justify-content: center; /* inner content horizontal center */
  align-items: center; /* inner content vertical center */
  color: #fff; /* text visible karne ke liye */
  border-radius: 90px; /* optional styling */
  text-align: center;
}

h1 {
  padding: 20px;
  font-size: 45px;
  color: red;
}
.Time0rDate {
  padding: 20px;
}
.addsome {
  text-decoration: none;
  color: pink;
  padding-left: 4px;
}
